<!-- Cocktail Image -->
<div style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 380, width: 380, crop: :fill %>'); min-height: 380px; min-width: 380px; padding: 0; border-radius: 5px"></div>

<!-- Cocktail Information -->
<div class="container-general" style="margin-left: 20px; width: 100%">
  <h3 style="margin: 0 0 16px 20px; text-indent: -15px">General Information</h3>

  <table style="width: 100%">
    <tr>
      <td style="width: 90px"><p style="text-align: end">Category</p></td>
      <td style="width: 15px"></td>
      <td><p><%= @cocktail.category.name %></p></td>
    </tr>
    <tr>
      <td><p style="text-align: end">Alcoholic</p></td>
      <td></td>
      <td><p><%= @cocktail.alcoholic %></p></td>
    </tr>
      <td><p style="text-align: end">Rating</p></td>
      <td></td>
      <td><p><%= @cocktail.reviews.empty? ? "NA" : @cocktail.rating_average.round(1).to_s + " ★" %></p></td>
    <tr>
    </tr>
    <tr>
      <td><p style="text-align: end">Difficulty</p></td>
      <td></td>
      <td><p><%= @cocktail.difficulty %></p></td>
    </tr>
    <tr>
      <td><p style="text-align: end">Reviews</p></td>
      <td></td>
      <td><p><%= @cocktail.reviews.size %></p></td>
    </tr>
    <tr>
      <td><p style="text-align: end">Glass</p></td>
      <td></td>
      <td><p><%= @cocktail.glass.name %></p></td>
    </tr>
  </table>
</div>
