<div class="banner">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>World class cocktails waiting for you</p>

    <%= link_to "New Cocktail", new_cocktail_path, data: { toggle: "modal", target: "#ModalNewCocktail" }, class: "btn btn-gradient" %>
  </div>

  <div class="scroll-down">
    <%= link_to "#container-cards", id: "scroller" do %>
      <i class="fas fa-angle-double-down"></i>
    <% end %>
  </div>
</div>

<div id="container-cards">
  <div class="sorter">
    <form action="/cocktails#container-cards" accept-charset="UTF-8" method="get">
      <input type="text" name="query" id="query" class="form-control" placeholder="Cocktail name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <%= link_to "Rating", cocktails_path(sort_by: "rating"), remote: true %>
    <%= link_to "Abc", cocktails_path(sort_by: "abc"), remote: true %>
    <%= link_to "Filter", cocktails_path(sort_by: "ingredients"), data: { toggle: "modal", target: "#ModalCocktailsFilter" } %>
  </div>

  <div id="cocktails-list">
    <%= render "cocktails-list" %>
  </div>
</div>


<!-- Modal Cocktail New Form -->
<div class="modal fade" id="ModalNewCocktail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Cocktail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ingredients Filter -->
<div class="modal fade" id="ModalCocktailsFilter" role="dialog">
  <div class="modal-dialog" style="min-width: 420px; max-width: 420px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cocktails Filter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-filter" %>
      </div>
    </div>
  </div>
</div>
