<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= image_path 'bar_cocktails.jpg' %>');">
  <div class="container">

    <h1>Le Wagon's Bar</h1>

    <p>The best cocktails in a single place</p>

    <%= link_to "Add a Cocktail", new_cocktail_path, data: { toggle: "modal", target: "#ModalNewCocktail" }, class: "btn btn-gradient" %>

  </div>
</div>

<div class="container-cards">
  <div class="cards">

    <% @cocktails_array.each do |cocktail| %>
      <div class="card" data-aos="fade-zoom-in" data-aos-duration="500" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path cocktail.photo.key, height: 250, width: 250, crop: :fill %>'); min-height: 250px; min-width: 250px">

        <!-- What to display about it's rating -->
        <div>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <% if cocktail.reviews.empty? %>
            <p>Not rated</p>
          <% else %>
            <p><%= cocktail.rating_average.round(1) %> ★</p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>

<!-- Modal Cocktail New Form -->
<div class="modal fade" id="ModalNewCocktail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Cocktail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render "cocktails/form-new" %>
      </div>
    </div>
  </div>
</div>
