<div class="banner">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>World class cocktails waiting for you</p>

    <%= link_to "New Cocktail", new_cocktail_path, data: { toggle: "modal", target: "#ModalNewCocktail" }, class: "btn btn-gradient" %>
  </div>

  <div class="scroll-down">
    <%= link_to "#container-cards", id: "scroller" do %>
      <i class="fas fa-angle-double-down"></i>
    <% end %>
  </div>
</div>

<div id="container-cards">
  <div class="sorter">
    <form action="/cocktails#container-cards" accept-charset="UTF-8" method="get">
      <input type="text" name="query" id="query" class="form-control" placeholder="Cocktail name">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <%= link_to "Rating", cocktails_path(sort_by: "rating", anchor: "container-cards") %>
    <%= link_to "Abc", cocktails_path(sort_by: "abc", anchor: "container-cards") %>
    <%= link_to "Filter", cocktails_path(sort_by: "ingredients", anchor: "container-cards"), data: { toggle: "modal", target: "#ModalCocktailsFilter" } %>
  </div>

  <div class="cards">
    <% @cocktails_sorted.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card" data-aos="fade-zoom-in" data-aos-duration="400">
          <div class="img-card" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 250, width: 250, crop: :fill %>')"></div>

          <div class="text-card">
            <h5><%= cocktail.name %></h5>

            <% if cocktail.reviews.empty? %>
              <p>Not rated</p>
            <% else %>
              <p><%= cocktail.rating_average.round(1) %> ★</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= will_paginate @cocktails_sorted, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "&laquo;", next_label: "&raquo;" %>
</div>


<!-- Modal Cocktail New Form -->
<div class="modal fade" id="ModalNewCocktail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Cocktail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ingredients Filter -->
<div class="modal fade" id="ModalCocktailsFilter" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cocktails Filter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-filter" %>
      </div>
    </div>
  </div>
</div>


<!-- JS module that was giving a bug when exported/imported the tradicional way -->
<script>
  // Method that adds smooth scrolling to the same page links
  $(document).ready(function smoothScrolling() {
    $("#scroller").on('click', function(event) {
      // Makes sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevents default anchor click behavior
        event.preventDefault();

        var hash = this.hash;

        // Uses jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){
          window.location.hash = hash;
        });
      }
    });
  });

  // Method that makes the pagination link pages scroll down to the Cocktails list
  $(document).ready(function smoothPagination() {
    var links = document.getElementsByClassName("page-link")

    // Gets each anchor of the pagination gem
    Array.prototype.forEach.call(links, link => {
      const link_ref = link.href

      // Adds to the current href the anchor of the list
      if (typeof link_ref !== "undefined") {
        link.href = link.href + '#container-cards';
      };
    });
  });
</script>
