<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col" style="min-width: 500px">
      <h1>Create a new Cocktail</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.button :submit, class: "btn btn-gradient" %>
      <% end %>

      <%= link_to 'Back', cocktails_path, class: "btn btn-gradient", style: "margin-top: 10px" %>
    </div>
  </div>
</div>
