<div class="show-container-page">
  <div class="container-page-headers">
    <h1><%= @cocktail.name %></h1>

    <div class="container-page-actions">
      <%= link_to cocktails_path(anchor: "container-cards") do %>
        <i class="fas fa-undo-alt"></i>
      <% end %>

      <% if @cocktail.editable %>
        <%= link_to edit_cocktail_path, data: { toggle: "modal", target: "#ModalEditCocktail" }, style: "margin: 0 10px" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}, style: "margin-right: 10px" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to cocktail_path(editable: 1) do %>
          <i class="fas fa-save"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="cocktail-profile" style="display: flex; margin: 0 5px 8px">
    <%= render "cocktails/cocktail-profile" %>
  </div>

  <ul class="container-general" id="doses-list" style="padding-bottom: 26px">
    <%= render "doses/doses-list" %>
  </ul>

  <div class="container-general" id="instructions-list">
    <%= render "cocktails/instructions-list" %>
  </div>

  <ul class="container-general" id="reviews-list">
    <%= render "reviews/reviews-list" %>
  </ul>
</div>

<!-- Modal Edit Cocktail -->
<%= render "cocktails/form-edit" %>

<!-- Modal Create Dose -->
<%= render "doses/form-new" %>

<!-- Modal Edit Instructions -->
<%= render "cocktails/form-edit-instructions" %>

<!-- Modal Create Review -->
<%= render "reviews/form-new" %>
