<div class="row justify-content-center bar-image">
  <div class="container-page">
    <div class="container-page-headers">
      <h1><%= @cocktail.name %></h1>

      <%= link_to cocktails_path(anchor: "container-cards") do %>
        <i class="fas fa-undo-alt"></i>
      <% end %>
    </div>

    <div style="display: flex">
      <!-- Cocktail Image -->
      <div style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 380, width: 380, crop: :fill %>'); min-height: 380px; min-width: 380px; padding: 0; border-radius: 2px"></div>

      <!-- Form for Review Creation -->
      <div class="container-general" style="margin-left: 20px">
        <div>
          <p>Difficulty: <%= @cocktail.difficulty %></p>
          <p>Rating: <%= @cocktail.reviews.empty? ? "NA" : @cocktail.rating_average.round(1) %></p>
          <p>Reviews: <%= @cocktail.reviews.size %></p>
        </div>

        <hr style="border: 1px solid white; margin: 25px 0">

        <h3>Add Review</h3>

        <%= simple_form_for [@cocktail, @review] do |f| %>
          <div class="stars">
            <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
              <%= b.radio_button + b.label {''} %>
            <% end %>
          </div>

          <%= f.input :content, label: false %>
          <%= f.button :submit, class: "btn btn-ghost" %>
        <% end %>
      </div>
    </div>

    <div class="container-general" style="margin: 20px 0">
      <div style="display: flex; min-width: 630px">
        <ul style="min-width: 400px">
          <h3>Ingredients</h3>

          <!-- Display the Ingredients -->
          <% if @cocktail.doses.length == 0 %>
            <p style="margin-left: 10px">No ingredients avaliable...</p>
          <% else %>
            <% @cocktail.doses.each do |dose| %>
              <li style="list-style: none; display: flex; align-items: center; margin: 10px 0 0 10px">
                <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash-alt" style="margin-right: 5px; font-size: 16px; color: white"></i>
                <% end %>
                <p style="font-size: 18px; margin: 0"><%= "#{dose.ingredient.name}: #{dose.description}" %></p>
              </li>
            <% end %>
          <% end %>
        </ul>

        <!-- Form for Ingredient Creation -->
        <div style="min-width: 230px">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
            <%= f.input :description %>
            <%= f.button :submit, class: "btn btn-ghost" %>
          <% end %>
        </div>
      </div>

      <div style="padding-left: 10px">
        <h3 style="margin-top: 20px">Instructions</h3>

        <!-- Display the Instructions -->
        <% if @cocktail.instructions.nil? %>
          <p style="margin: 10px; font-size: 14px">No instructions avaliable...</p>
        <% else %>
          <p style="margin-left: 10px; font-size: 14px"><%= @cocktail.instructions %></p>
        <% end %>
      </div>
    </div>

    <ul class="container-general" style="margin: 0 0 10px 0; padding-left: 20px">
      <h3>Reviews</h3>

      <!-- Display the last 5 reviews -->
      <% if @cocktail.reviews.length == 0 %>
        <p style="margin-left: 10px; font-size: 14px">Be the first to leave a review!</p>
      <% else %>
        <% @cocktail.reviews.last(5).reverse.each do |review| %>
          <li style="list-style: none; align-items: center; margin: 10px 0 0 10px">
            <p style="font-size: 20px; margin: 0">
              <%= ("★" * review.rating) + ("☆" * (5 - review.rating)) %>
              <span style="font-size: 14px"><%= " #{review.created_at.strftime("%Y-%m-%d")}" %></span>
            </p>
            <p style="margin-left: 15px; font-size: 14px"><%= review.content %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
