<div class="row justify-content-center bar-image">
  <div class="container-page">
    <div class="container-page-headers">
      <h1><%= @cocktail.name %></h1>

      <div>
        <%= link_to cocktails_path(anchor: "container-cards") do %>
          <i class="fas fa-undo-alt"></i>
        <% end %>

        <% if @cocktail.editable %>
          <%= link_to edit_cocktail_path, data: { toggle: "modal", target: "#ModalEditCocktail" }, style: "margin: 0 10px" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}, style: "margin-right: 10px" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <%= link_to cocktail_path(editable: 1) do %>
            <i class="fas fa-save"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="cocktail-profile" style="display: flex">
      <%= render "cocktails/cocktail-profile" %>
    </div>

    <div class="container-general" id="doses-list" style="margin: 20px 0 10px">
      <%= render "doses/doses-list" %>
    </div>

    <div class="container-general" id="instructions-list" style="margin: 10px 0; padding: 10px 20px">
      <%= render "cocktails/instructions-list" %>
    </div>

    <ul class="container-general" id="reviews-list" style="margin: 10px 0; padding: 10px 20px">
      <%= render "reviews/reviews-list" %>
    </ul>
  </div>
</div>


<!-- Modal Create Review -->
<div class="modal fade" id="ModalNewReview" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "reviews/form-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create Dose -->
<div class="modal fade" id="ModalNewDose" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Dose</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "doses/form-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Instructions -->
<div class="modal fade" id="ModalAddInstructions" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-add-instructions" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Cocktail -->
<div class="modal fade" id="ModalEditCocktail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Cocktail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-edit" %>
      </div>
    </div>
  </div>
</div>
