<div class="row justify-content-center bar-image">
  <div class="container-page">
    <div class="container-page-headers">
      <h1><%= @cocktail.name %></h1>

      <div>
        <%= link_to cocktails_path(anchor: "container-cards") do %>
          <i class="fas fa-undo-alt"></i>
        <% end %>

        <% if @cocktail.editable %>
          <%= link_to edit_cocktail_path, data: { toggle: "modal", target: "#ModalEditCocktail" }, style: "margin: 0 10px" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}, style: "margin-right: 10px" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <%= link_to cocktail_path(editable: 1) do %>
            <i class="fas fa-save"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div style="display: flex">
      <!-- Cocktail Image -->
      <div style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 380, width: 380, crop: :fill %>'); min-height: 380px; min-width: 380px; padding: 0; border-radius: 5px"></div>

      <!-- Cocktail Information -->
      <div class="container-general" style="margin-left: 20px; width: 100%">
        <h3 style="margin: 0 0 16px 10px">General Information</h3>

        <table style="width: 100%">
          <tr>
            <td><p style="text-align: end">Category</p></td>
            <td style="width: 10px"></td>
            <td><p><%= @cocktail.category.name %></p></td>
          </tr>
          <tr>
            <td><p style="text-align: end">Alcoholic</p></td>
            <td></td>
            <td><p><%= @cocktail.alcoholic %></p></td>
          </tr>
            <td><p style="text-align: end">Rating</p></td>
            <td></td>
            <td><p><%= @cocktail.reviews.empty? ? "NA" : @cocktail.rating_average.round(1).to_s + " ★" %></p></td>
          <tr>
          </tr>
          <tr>
            <td><p style="text-align: end">Difficulty</p></td>
            <td></td>
            <td><p><%= @cocktail.difficulty %></p></td>
          </tr>
          <tr>
            <td><p style="text-align: end">Reviews</p></td>
            <td></td>
            <td><p><%= @cocktail.reviews.size %></p></td>
          </tr>
          <tr>
            <td><p style="text-align: end">Glass</p></td>
            <td></td>
            <td><p><%= @cocktail.glass.name %></p></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="container-general" style="margin: 20px 0 10px">
      <ul style="min-width: 630px">
        <div style="display: flex">
          <h3>Ingredients</h3>

          <% if @cocktail.editable %>
            <%= link_to "New Dose", data: { toggle: "modal", target: "#ModalNewDose" }, class: "white-icon" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>

        <!-- Display the Ingredients -->
        <% if @cocktail.doses.length == 0 %>
          <p style="margin-left: 10px">No ingredients specified...</p>
        <% else %>
          <% @cocktail.doses.sort_by {|dose| dose.ingredient.name }.each do |dose| %>
            <li style="list-style: none; display: flex; align-items: center; margin: 10px 0 0 10px">
              <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt" style="margin-right: 15px; font-size: 16px; color: white"></i>
              <% end %>
              <p style="font-size: 18px; margin: 0"><%= "#{dose.ingredient.name}: #{dose.description}" %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="container-general" style="margin: 10px 0; padding: 10px 20px">
      <div style="display: flex">
        <h3>Instructions</h3>

        <% if @cocktail.editable %>
          <%= link_to "New Instructions", data: { toggle: "modal", target: "#ModalAddInstructions" }, class: "white-icon" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <!-- Display the Instructions -->
      <% if @cocktail.instructions == "NA" || @cocktail.instructions.empty? %>
        <p style="margin: 10px; font-size: 14px">No instructions avaliable...</p>
      <% else %>
        <p style="margin-left: 10px; font-size: 14px; text-align: justify"><%= @cocktail.instructions %></p>
      <% end %>
    </div>

    <ul class="container-general" style="margin: 10px 0; padding: 10px 20px">
      <div style="display: flex">
        <h3>Reviews</h3>
        <%= link_to "New Review", data: { toggle: "modal", target: "#ModalNewReview" }, class: "white-icon" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>

      <!-- Display the last 5 reviews -->
      <% if @cocktail.reviews.length == 0 %>
        <p style="margin-left: 10px; font-size: 14px">Be the first to leave a review!</p>
      <% else %>
        <% @cocktail.reviews.last(5).reverse.each do |review| %>
          <li style="list-style: none; align-items: center; margin: 10px 0 0 10px">
            <p style="font-size: 20px; margin: 0">
              <%= ("★" * review.rating) + ("☆" * (5 - review.rating)) %>
              <span style="font-size: 14px"><%= " #{review.created_at.strftime("%Y-%m-%d")}" %></span>
            </p>
            <p class="read-more" style="margin-left: 15px; font-size: 14px; text-align: justify"><%= review.content %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<!-- Modal Create Review -->
<div class="modal fade" id="ModalNewReview" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-review-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create Dose -->
<div class="modal fade" id="ModalNewDose" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Dose</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-dose-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Instructions -->
<div class="modal fade" id="ModalAddInstructions" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-add-instructions" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Cocktail -->
<div class="modal fade" id="ModalEditCocktail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Cocktail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-edit" %>
      </div>
    </div>
  </div>
</div>


<!-- JS modules had a bug when exported/imported the tradicional way -->
<script>
  // Function that will hide the text that exceds a certain length, while giving the user the option
  // to view it (view more); if this option is selected, the user may also choose 'read less'
  $(document).ready(function readMore() {
    var showChar = 140;
    var ellipsestext = "...";
    var moretext = "Read more";
    var lesstext = "Read less";

    $('.read-more').each(function() {
      var content = $(this).html();

      if(content.length > showChar) {
        var c = content.substr(0, showChar);
        var h = content.substr(showChar, content.length - showChar);

        var html = c
          + '<span class="moreellipses">'
          + ellipsestext
          + '&nbsp;</span><span class="morecontent"><span>'
          + h
          + '</span>&nbsp;<a href="" class="morelink">'
          + moretext
          + '</a></span>';

        $(this).html(html);
      }
    });

    $(".morelink").click(function(){
      if($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }

      $(this).parent().prev().toggle();
      $(this).prev().toggle();

      return false;
    });
  });
</script>
