<div class="row justify-content-center bar-image">
  <div class="container-page">
    <div class="container-page-headers">
      <h1><%= @cocktail.name %></h1>

      <%= link_to cocktails_path(anchor: "container-cards") do %>
        <i class="fas fa-undo-alt"></i>
      <% end %>
    </div>

    <div style="display: flex">
      <!-- Cocktail Image -->
      <div style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 380, width: 380, crop: :fill %>'); min-height: 380px; min-width: 380px; padding: 0; border-radius: 2px"></div>

      <!-- Cocktail Information -->
      <div class="container-general" style="margin-left: 20px; width: 100%">
        <p>Difficulty: <%= @cocktail.difficulty %></p>
        <p>Rating: <%= @cocktail.reviews.empty? ? "NA" : @cocktail.rating_average.round(1) %></p>
        <p>Reviews: <%= @cocktail.reviews.size %></p>
      </div>
    </div>

    <div class="container-general" style="margin: 20px 0 10px">
      <ul style="min-width: 630px">
        <div style="display: flex">
          <h3>Ingredients</h3>
          <%= link_to "New Dose", data: { toggle: "modal", target: "#ModalNewDose" }, class: "white-icon" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>

        <!-- Display the Ingredients -->
        <% if @cocktail.doses.length == 0 %>
          <p style="margin-left: 10px">No ingredients avaliable...</p>
        <% else %>
          <% @cocktail.doses.each do |dose| %>
            <li style="list-style: none; display: flex; align-items: center; margin: 10px 0 0 10px">
              <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt" style="margin-right: 5px; font-size: 16px; color: white"></i>
              <% end %>
              <p style="font-size: 18px; margin: 0"><%= "#{dose.ingredient.name}: #{dose.description}" %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="container-general" style="margin: 10px 0">
      <div style="padding-left: 10px; margin-top: 20px">
        <div style="display: flex">
          <h3>Instructions</h3>
          <%= link_to "New Instructions", data: { toggle: "modal", target: "#ModalAddInstructions" }, class: "white-icon" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>

        <!-- Display the Instructions -->
        <% if @cocktail.instructions.nil? %>
          <p style="margin: 10px; font-size: 14px">No instructions avaliable...</p>
        <% else %>
          <p style="margin-left: 10px; font-size: 14px"><%= @cocktail.instructions %></p>
        <% end %>
      </div>
    </div>

    <ul class="container-general" style="margin: 10px 0; padding-left: 20px">
      <div style="display: flex">
        <h3>Reviews</h3>
        <%= link_to "New Review", data: { toggle: "modal", target: "#ModalNewReview" }, class: "white-icon" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>

      <!-- Display the last 5 reviews -->
      <% if @cocktail.reviews.length == 0 %>
        <p style="margin-left: 10px; font-size: 14px">Be the first to leave a review!</p>
      <% else %>
        <% @cocktail.reviews.last(5).reverse.each do |review| %>
          <li style="list-style: none; align-items: center; margin: 10px 0 0 10px">
            <p style="font-size: 20px; margin: 0">
              <%= ("★" * review.rating) + ("☆" * (5 - review.rating)) %>
              <span style="font-size: 14px"><%= " #{review.created_at.strftime("%Y-%m-%d")}" %></span>
            </p>
            <p style="margin-left: 15px; font-size: 14px"><%= review.content %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!-- Modal Review Creation -->
<div class="modal fade" id="ModalNewReview" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-review-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Dose Creation -->
<div class="modal fade" id="ModalNewDose" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Dose</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-dose-new" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Instructions Creation -->
<div class="modal fade" id="ModalAddInstructions" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= render "cocktails/form-add-instructions" %>
      </div>
    </div>
  </div>
</div>
