<h1>New Review</h1>

<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.button :submit, class: "btn btn-gradient" %>
<% end %>

<%= link_to 'Back', cocktail_path(@cocktail), class: "btn btn-gradient" %>
